@charset "UTF-8";

@import "./reset.css";
@import "./variables.css";
@import "./rules.css";

.header {
  height: 120px;
  display: flex;
  flex-direction: column;
}

.header > .header__logo {
  height: 80px;
}

.header > .header__nav {
  height: 40px;
  border-top: 1px solid var(--border-section);
  border-bottom: 1px solid var(--border-section);
}

.header > .header__nav > .header__li {
  display: flex;
  justify-content: space-between
}

.first--link{
  color: var(--title-header-first);
}
.second--link{
  color: var(--title-header-second);
}
.third--link {
  color: var(--title-header-third)
}
.bedroom--link {
  color: var(--title-header-bedroom)
}
.fifth--link {
  color: var(--title-header-fifth)
}
.sixth--link {
  color: var(--title-header-sixth)
}
.seventh--link {
  color: var(--title-header-seventh)
}
.eighth--link {
  color: var(--title-header-eighth)
}
.ninth--link {
  color: var(--title-header-ninth)
}
.tenth--link {
  color: var(--title-header-tenth)
}
.link--hover {
  transition: opacity 0.3s ease-in-out;
}
.link--hover:hover {
  opacity: 0.4;
}
.main {
  display: flex;
  justify-content: center;
}
.main__content {
  display: grid;
  grid-template-areas: 
  "a c d"
  "b c d"
  "e c d";
  grid-template-rows: auto auto auto;
  grid-template-columns: calc(50% + 36px) 25% calc(25% - 36px);
  padding-top: 36px;
  padding-bottom: 40px;
}
.main__primary_news {
  grid-area: a;
  padding-bottom: 24px;
}
.main__primary_column {
  grid-area: c;
  padding: 0 35px;
  border-left: 1px solid #ebedef;
  display: flex;
  flex-direction: column;
}
.main__second_column {
  border-left: 1px solid #ebedef;
  padding-left: 36px;
  grid-area: d;
}
.main__third_column {
  grid-area: b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ebedef;
  margin-right: 36px;
  padding-top: 24px;
}
.main__bedroom_column {
  grid-area: e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ebedef;
  margin-right: 36px;
  padding-top: 24px;
}
.main_title_news {
  color: var(--title-news);
  font-size: 52px;
  font-weight: 700;
  line-height: 67px;
}
.main__paragraph {
  margin-top: 34px;
  font-family: 'Encode Sans', sans-serif;
	font-size: 18px;
	font-weight: 500;
  line-height: 30px;
  padding: none;
}
.main__figure {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 52px;
}
.main__figure > figure {
  margin-bottom: 12px;
}
.main__img {
  width: 240px;
  height: 128px;
  border-radius: 12px;
  transition: filter 0.2s linear;
}
.main__img:hover {
  filter: brightness(90%);
}
.main__span {
  font-size: 14px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
}
.span--orange {
  color: #EC8006;
}
.span--green {
  color:  #06aa48;
}
.main__title {
  font-size: 20px;
  line-height: 25px;
  color: #2F3134;
  margin-top: 4px;
}
.main_news_li {
  margin-top: 12px;
}
.main_news_li ul > li {
  font-size: 15px;
  font-weight: 400;
  color: #4f5257;
  padding-left: 13px;
  position: relative;
}
.main_news_li > ul > li:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: inline-block;
  top: 7px;
  position: absolute;
  left: 0;
  margin-right: 8px;
  background-color: var(--title-header-eighth);
}
.main_news_li.green > ul > li:before { 
  background-color: #06aa48;
}

@media (max-width: 1267px) {
  .header__nav {
    padding: 0 20px;
  }
  .main {
    padding: 30px;
  }
  .main__content {
    grid-template-areas: "a a a" "b b b" "e e e" "c c c" "d d d";
  }
  .max--size, .main__img {
    width: 100%;
    height: 110px;
  }
  .main__figure {
    min-width: 30%;
  }
  .main__third_column {
    margin-right: 0px;
  }
  .main__primary_column {
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  .main__second_column {
    border: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .main__content {
    grid-template-areas:         
    "a a a"
    "b b b"
    "e e e"
    "c c c"
    "d d d";
    padding-top: 0px;
  }
  .main {
    padding: 16px;
  }
  .main_title_news {
    font-size: 32px;
    line-height: 40px;
  }
  .main__paragraph {
    font-size: 18px;
    color: #CD150B;
    font-weight: 700;
  }
  .main_news_li {
    display: none;
  }
  .max--size, .main__img {
    width: 120px;
    height: 67px;
  }
  .main__primary_column, .main__second_column {
    border: none;
    flex-direction: column
  }
  .main__third_column {
    margin-right: 0px;
  }
  .main__primary_column, .main__second_column {
    padding: 0px;
  }
  .main__figure {
    flex-direction: row;
    width: auto;
    max-width: none;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebedef;
    margin-bottom: 24px;
  }
  .main__span {
    position: absolute;
    bottom: 10px;
    color: #CD150B;
  }
  .main__title {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 14px;
    color: #CD150B;
  }
  .header__li {
    max-width: 300px;
  }
  .del {
    display: none;
  }
  .main__bedroom_column {
    border: none;
    padding-top: 0px;
    margin: 0px;
  }
  .color--green {
    color: #06AA48;
  }
  .color--orange {
    color: #FF8203;
  }
}