.flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content--center {
  width: 100%;
  max-width: 1250px;
}

.max--size {
  width: 192px;
  height: 110px;
  border-radius: 12px;
}
.min--content {
  max-width: min-content;
}