:root {
  --title-header-first: #C3170C;
  --title-header-second: #1E4B9B;
  --title-header-third: #006766;
  --title-header-bedroom: #07AA47;
  --title-header-fifth: #E3662B;
  --title-header-sixth: #FB0735; 
  --title-header-seventh: #FF75BB;
  --title-header-eighth: #EC7D00;
  --title-header-ninth: #323333;
  --title-header-tenth: #A81D83;
  --title-news: #C4160C;
  --border-section: #f5f6f7;
}